<main class="main">
  <div class="content">
    <!-- helol
    {{ name }}
    <div class="app-secondcomponent"> -->
    <h1>App component</h1>
  </div>
  <!-- <app-newcomponent> </app-newcomponent>
    <div app-eventbinding></div>
    < app-eventbinding as attribute selector -->
  <!-- <app-twowaybinding></app-twowaybinding> -->
  <!-- <app-stylebinding></app-stylebinding> -->
  <!-- <app-templatereferencevariable></app-templatereferencevariable> -->
   <!-- <app-structuralbinding></app-structuralbinding> -->
    <!-- <app-parent></app-parent> -->
     <app-piping></app-piping>
</main>
